django>=3.2,<5.0
djangorestframework>=3.14
django-filter>=23.0
drf-spectacular>=0.26.3
django-cors-headers>=3.14
djangorestframework-simplejwt>=5.2.2
channels>=4.0.0
channels-redis>=4.1.0
gunicorn>=21.2
uvicorn>=0.30
celery>=5.3
redis>=5.0
psycopg2-binary>=2.9
requests>=2.31
sendgrid>=6.11
twilio>=9.0
africastalking>=1.2
